[Unit]
Description=Battery Monitor Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/i3/i3blocks/scripts/battery
Environment=DISPLAY=:0
LogLevelMax=warning
