[user]
	email = mail@fabrizio-pietrucci.it
	name = Fabrizio Pietrucci

[core]
	editor = nvim

[pull]
	rebase = false

[init]
	defaultBranch = master

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[merge]
    tool = nvimdiff

[mergetool]
    prompt = true
    keepBackup = false

[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"

[rerere]
	enabled = true
[filter "lfs"]
   clean = git-lfs clean -- %f
   smudge = git-lfs smudge -- %f
   process = git-lfs filter-process
   required = true
