[user]
	email = mail@fabrizio-pietrucci.it
	name = Fabrizio Pietrucci
[core]
	editor = nvim
[pull]
	rebase = false
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
