* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #5e647a;
    margin-right: 5px;
}

#workspaces button.active {
    color: #cdd6f4;
}

#workspaces button.focused {
    color: #cdd6f4;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #ffffff;
    background: #fa5252;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-dunst,
#custom-notifications,
#custom-power,
#custom-power_profile,
#custom-weather,
#custom-screenrecording-indicator,
#window,
#clock,
#battery,
#pulseaudio,
#submap,
#network,
#bluetooth,
#cpu,
#workspaces,
#tray,
#custom-brightness {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 5px;
    border: 1px solid #181825;
}

#cpu {
    min-width: 80px;
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#custom-brightness {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#submap {
    border-radius: 10px;
    border-left: 0px;
    margin-right: 10px;
    background: #fa5252;
    min-width: 50px;
}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#clock {
    border-radius: 10px 0px 0px 10px;
}

#custom-power {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#custom-music {
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 5px;
    margin-right: 10px;
}

#custom-screenrecording-indicator {
    border-radius: 10px;
    margin-right: 10px;
    padding-right: .85rem;
    color: #fa5252;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
