#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook (PWA)
MimeType=x-scheme-handler/mailto
Exec=env GDK_SCALE=1 /opt/google/chrome/google-chrome --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn %U
Icon=chrome-faolnafnngnfdaknnbpnkhgohbobgegn-Default
StartupWMClass=crx_faolnafnngnfdaknnbpnkhgohbobgegn
Actions=Apri-calendario;Nuovo-evento;Nuovo-messaggio

[Desktop Action Apri-calendario]
Name=Apri calendario
Exec=env GDK_SCALE=1 /opt/google/chrome/google-chrome --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar

[Desktop Action Nuovo-evento]
Name=Nuovo evento
Exec=env GDK_SCALE=1 /opt/google/chrome/google-chrome --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar/deeplink/compose

[Desktop Action Nuovo-messaggio]
Name=Nuovo messaggio
Exec=env GDK_SCALE=1 /opt/google/chrome/google-chrome --profile-directory=Default --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/mail/deeplink/compose
