[Desktop Entry]
Type=Application
Name=gf2
GenericName=GDB Frontend
Comment=Graphical frontend for the GNU Debugger
Exec=gf2 %f
TryExec=gf2
TryExec=/home/fabrizio/.local/bin/gf2
Icon=/home/fabrizio/.local/share/icons/gdb.svg
Categories=Development;Debugger;
Keywords=Debugger;GDB;Debugging;
Terminal=false
StartupNotify=false
